<div class="container">
 <table class="table table-inverse">
  <thead>
    <tr>
      <th>User</th>
      <th>Email</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
    <tr>
      <td><%= link_to user.user_name, user_path(user) %></td>
      <td><%= user.email %></td>
    </tr>
    <% end %>
  </table>
</div>
