<br></br><br></br>
<div class="container">
    <div class="row">
        <div class="col-xs-4 col-md-4 grid"><h1>Basic Services</h1>
            <div class="prices">
                <ul>
                    <li>Basic Wash and Blow Dry $15</li>
                    <li>Trim $10</li>
                    <li>Eyelashes $25 and up</li>
                    <li>Eyebrows $8 & up</li>
                    <li>Haircut-starting $20</li>
                    <li>Childrens cornrows $40 and up(beads included)</li>
                    <li>Flats Twist Styles $50 & up</li>
                    <li>Ponytails $35 & up</li>
                    <li>Wrap Curl $30 & up</li>
                    <li>Roller Set $30</li>
                    <li>Flexi Rod Set $30</li>
                    <li>Rod Set $40</li>
                    <li>Twist Out $40 & up</li>
                    <li>Braid Out $40 & up</li>
                    <li>Silk Wrap Press $45 & up</li>
                    <li>Doobie wrapped and pinned $15 & up</li>
                    <li>Starter Locs $55</li>
                    <li>Loc Re-twist $45</li>
                    <li>Loc Style $15 & up</li>
                </ul>
            </div>
        </div>
        <div class="col-xs-4 col-md-4 grid"><h1>Chemical Services<br/>(Deep conditioner included)</h1>
            <div class="prices">
                <ul>
                    <li>Relaxer touch-up $35</li>
                    <li>Relaxer touch-up, wrap and curl $65</li>
                    <li>Relaxer touch-up, roller set $65</li>
                    <li>Partial Relaxer $15</li>
                    <li>Curly Perm(starting at) $65</li>
                </ul>
            </div>
        </div>
        <div class="col-xs-4 col-md-4 grid"><h1>Color Services</h1>
            <div class="prices">
                <ul>
                    <li>Semi-permanent color $20</li>
                    <li>Demi permanent color $25 & up</li>
                    <li>Permanent color $35 & up</li>
                    <li>Highlights $50 & up</li>
                </ul>
            </div>
        </div>
    </div>
    <div class= "row">
        <div class="col-xs-4 col-md-4 grid "><h1>Treatment Services</h1>
            <div class="prices">
                <ul>
                    <li>Deep Conditioner $10 & up</li>
                    <li>Steam Treatment $20</li>
                    <li>Specialized hair and scalp treatment $20</li>
                </ul>
            </div>
        </div>
        <div class="col-xs-4 col-md-4 grid"><h1>Weave Pricing</h1>
            <div class="prices">
                <ul>
                    <li>Weave wash and recurl $30(tightening included but not more than three tracks)</li>
                    <li>Custom U-part Wigs $175 client supplies hair $325 we supply hair</li>
                    <li>Full Head sew in weave installs starting at $80(see owner for details)</li>
                    <li>Quick weave starting at $65</li>
                </ul>
            </div>
        </div>
        <div class="col-xs-4 col-md-4 grid"><h1>Braid Pricing</h1>
            <div class="prices">
                <ul>
                    <li>Havana Twists</li>
                    <li>Marley Twist $65 & up</li>
                    <li>Childrens cornrows with hair added $50 & up</li>
                    <li>Box braid $80 & up</li>
                    <li>Micro Braids $130 & up</li>
                </ul>
            </div>
        </div>
    </div>
</div>
