ul {
list-style-type: none;
}
#stylist_show_page{
  margin-top:50px;
}
#thumbnail-images{
  text-align: center;
}

#work_post_pic{
  margin-top: 100px;
}
div#show_page_first_row {
  padding-top:20px;
  padding-bottom:20px;
}

div#show_page_second_row {
  padding-bottom:20px;
}

div#show_page_third_row {
  padding-bottom:20px;
}

p#work_show_page_paragraph {
  text-align:center;
}

div#work_show_page_first_row {
  margin-top:100px;
}

div#work_show_page_second_row.col-md-12 {
  margin-top:50px;
}

div#stylist_work_div{
  text-align: center;
}

div#comment{
  margin-left: 30px;
}
div.comment .comment .comment .comment {
  margin-left: 0;
}
